.select {
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  margin-bottom: 20px;
}

.tabla {
  width: 100%;
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
  overflow: hidden;
  color: white;
}

.tabla th,
.tabla td {
  padding: 15px;
  text-align: center;
}

.tabla thead {
  background: rgba(255,255,255,0.2);
}
